.container {
    overflow: hidden;
}

.suggestion {
    background-color: #999999;
    min-width: 30vw;
    cursor: pointer;
    position: absolute;
    z-index: 1;
}

.suggestion > div:hover {
    background-color: white;
}